.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #ee1f42; ;
    border: 1px solid rgb(0, 87, 26);; ;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #830c5b;
    border-color: rgb(0, 87, 26);
  }